<template>

    <header>
        <h1> {{ blogName }} </h1>
    </header>

    <main>
        <section id="my-blog-posts">


            <!-- Here a script will generate all the blog posts based on this template -->

            <template id="post-template">

                <div class="blog-post">
                    
                    <h2>{{ heading }}</h2>

                    <h3><b> {{ ingress }}</b></h3>

                    <h4> {{ bodytext }}</h4>

                    <h5> Number of visitors: {{ visitorCount }}</h5>

                </div>

            </template>



        </section>
    </main>

    <footer> 
        <ul>
            <li>Email: {{ email }} </li>
            <li>Phone: {{ phone }} </li>
        </ul>
    </footer>   

</template>